@media (max-width: 768px) {

    .main-img {
        display: none;
    }

    .prod-img {
        display: none;
    }

    .main-text h1 {
        font-size: 50px;
    }

    .collection {
        display: block;
    }

    .col-text {
        margin-left: 10%;
        margin-right: 0;
        font-size: 10px;
    }

    .col-img {
        display: none;
    }

    .about-text {
        display: none;
    }

    .about {
        display: none;
    }

    .promotion {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .productions {
        display: none;
    }

    .advantages h3 {
        font-size: 30px;
    }

    .promotions h2 {
        padding-left: 0;
    }

    .number {
        display: none;
    }

    .footer-about h2 {
        padding: 0 0;
    }

    .adv-images {
        display: block;
    }

    .adv-img h5{
        font-size: 25px;
    }

    .adv-img h6{
        font-size: 16px;
    }

    .adv-images img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img {
        display: none;
    }

    .footer {
        margin: 20px 0;
        display: block;
        margin-bottom: 20px;
    }

    .footer-about {
        margin-right: 0%;
    }

    .footer-about h2 {
        font-size: 15px;
        margin: 25px 20px;
    }

    .footer-about h2::after{
        display: none;
    }
    
    .footer-container {
        display: none;
    }
}