@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, .main, body {
    background-color: rgb(46, 43, 43);
    margin: 0;
}

::-webkit-scrollbar { display: none; }

    /* --- Header --- */ 

    .container {
        max-width: 1440px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
    }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 20px;
}

.logo {
    display: flex;
}

.logo img {
    margin-top: 6px;
    width: 126px;
    height: 35px;
}

.logo h1 {
    font-size: 18px;
    margin-left: 60px;
    color: rgba(147, 147, 147, 1);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}

.number {
    display: flex;
    align-items: center;
    color: rgba(147, 147, 147, 1);
    font-size: 18px;
}

.number1 {
    margin-right: 15px;
}

.number a {
    margin-left: 40px;
    border: 1px solid #646161;
    padding: 8px 10px;
}

    /* --- Главная секция --- */ 

.main-text {
    margin-top: 180px;
}

.main-text h1 {
    color: white;
    font-size: 65px;
}

.main-buttons {
    display: flex;
    flex-direction: column;
}

.main-buttons a {
    margin-left: 40px;
    text-decoration: none;
    color: rgba(190, 190, 190, 1);
    margin-top: 50px;
    font-size: 25px;
    width: 250px;
    padding-bottom: 20px;
    margin-bottom: 20px; 
    border-bottom: 1px solid silver;
}

.main-buttons img {
    padding-right: 20px;
}

.main-img {
    position: relative;
}

.img1 {
    position: absolute;
    width: 850px;
    height: 960px;
}

.img2 {
    position: absolute;
    margin-top: 580px;
    margin-left: 300px;
}

    /* --- Секция 1 --- */

.about {
    margin-top: 115px;
    height: 450px;
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: space-between;
}

.about-text h2 {
    margin-left: 200px;
    line-height: 50px;
    padding-top: 110px;
    font-size: 25px;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
}

.about-img {
    margin-top: 120px;
    margin-right: 300px;
}

.about-img img {
    margin-bottom: 60px;
}

    /* --- Секция 2 --- */

.productions {
    background-color: white;

}

.prod {
    padding-top: 100px;
    color: black;
    font-size: 33px;
    font-family: "Open Sans", sans-serif;
    margin-left: 260px;
    font-weight: 100;
}

.prod-img {
    margin-left: 300px;
    padding-bottom: 130px;
}

    /* --- Секция 3 --- */

.collection {
    display: flex;
}

.col-text {
    color: white;
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 200px;
}

.col-text h1 {
    font-size: 50px;
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    margin-bottom: 80px;
}

.col-text p {
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    line-height: 50px;
}

.col-img {
    position: relative;
}

.col-img1 {
    position: absolute;
}

.col-img2 {
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
    padding-bottom: 25px;
}

    /* --- Секция 4 --- */

.promotions {
    background-color: white;
}

.promotions h2 {
    font-size: 40px;
    margin-top: 75px;
    padding-top: 160px;
    padding-left: 260px;
    font-weight: 300;
}

.promotion {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.advantages h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 10;
    padding-top: 80px;
    display: flex;
    font-size: 38px;
    font-weight: 400;
    justify-content: center;
    color: #242020;
}

.adv-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adv-images img {
    margin: 0 200px;
    padding-top: 40px;
}

.adv-img h5{
    font-size: 28px;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

.adv-img h6 {
    display: flex;
    justify-content: center;
    text-align: center ;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #383232;
    font-size: 19px;
    line-height: 30px;
    padding-bottom: 120px;
}

.adv-container {
    padding-bottom: 25px;
}

.adv-bg {
    margin-top: 200px;
    background-color: rgb(241, 241, 241);;
}

    /* --- Секция 5 --- */
.img {
    display: flex;
    justify-content: center;
}

.img img {
    position: absolute;
}

.img-orange {
    margin-top: 565px;
}

    /* --- Футер --- */

.footer {
    margin-top: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-logo {
    padding-right: 100px;
}

.footer-about h2 {
    color: rgba(190, 190, 190, 1);
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding: 0 100px;
}

.footer-about h3 {
    color: rgba(190, 190, 190, 1);
    font-weight: 100;
    font-size: 18px;
}

.footer-about img {
    padding: 0 10px;
}

.footer-about h4 {
    color: rgb(211, 211, 211);
    font-weight: 600;
    font-size: 18px;
    margin-left: 50px;
}

.footer-container {
    margin-bottom: 15px;
}